* { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial;}
      form { background: #000; padding: 1px; height:50%;}
      form input { border: 0; padding: 10px; width: 80%; margin-right: .5%; }
      form button { width: 19%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #health {
        padding: 3em; 
        font-size: 20px;
      }
      #health2 {
        padding: 3em; 
        font-size: 20px;
      }
      #form1 {
        display: none;
        border: 3px solid black;
      }
      #redbar{
        height: 10px;
        width: 500px;
        background-color: red;
        border: solid black 1px;
      }
       #redbar2{
        height: 10px;
        width: 500px;
        background-color: red;
        border: solid black 1px;
      }
      #attack{
          margin-top: 50px;
      }
      #heal{
          margin-top: 50px;
      }
      #attack2{
          margin-top: 50px;
      }
      #attack5{
          margin-top: 50px;
      }
       #attack6{
          margin-top: 50px;
      }
      #heal2{
          margin-top: 50px;
      }
      #everything{
        display: none;
      }
      #play{
        font-size: 150px;
        margin: 50px;
      }
     /* #redcircle{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: red;
        margin: 150px;
        margin-left: 200px
      }
      #bluecircle{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: blue;
        margin: 150px 0 0 300px;
      }*/
      #littlebluecircle{
        position: relative;
        z-index: 4;
        display: none;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: blue;
        margin: 175px 0 0 75px;
      }
      #redplayer{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: red;
        margin: 150px;
        margin-left: 200px
      }
       #blueplayer{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: blue;
        margin: 150px;
        margin-left: 200px
      }
       #greenplayer{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: green;
        margin: 150px;
        margin-left: 200px
      }
        #greenline1{
        width: 225px;
        border: 2px solid green;
        -webkit-transform:
            translateY(-20px)
            translateX(5px)
            rotate(45deg); 
        position: absolute;
        /* top: -20px; */
        }
        #greenline2{
        width: 225px;
        border: 2px solid green;
        -webkit-transform:
            translateY(-20px)
            translateX(5px)
            rotate(-45deg); 
        position: absolute;
        /* top: -20px; */
        }
        #greenlines{
          opacity: 0;
          position: relative;
          margin: 190px 0 0 50px;
          z-index: 2;
        }
        #fireball{
          position: relative;
          z-index: 2;
        display: none;
        margin: -30px 0 0 0;
        }
        #littlefireball{
        /*  display: none;*/
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: orange;
        margin: 0 0 0 -7px;
        position: relative;
        z-index: 1;
        }
        #fireflame1{
          color: red;
          font-size: 20px;
          position: relative;
          z-index: 2;
          margin-top: -25px;
        }
        #fireflame2{
          color: yellow;
          font-size: 10px;
          position: relative;
          z-index: 3;
          margin-left: 3px;
          margin-top: -14px;
          /*margin-left: -15px;
          margin-top: -30px;*/
         
        }
        #waterspout{
          display: none;
          position: relative;
          z-index: 5;
          margin-top: 10px;
        }
        #waterspoutbody{
          height: 10px;
          width: 50px;
          background-color: blue;
        }
        #waterspouttop{
          height: 20px;
          width: 70px;
          background-color: #cccccc;
          margin-top: -40px;
          margin-left: -10px
        }
        #waterspoutball1{
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-color: #cccccc;
          margin-left: -20px;
          margin-top: -25px;
        }
         #waterspoutball2{
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-color: #cccccc;
          margin-left: 35px;
          margin-top: -40px;
        }
        #waterspoutball3{
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-color: #cccccc;
          margin-left: 8px;
          margin-top: -40px;
        }
      #messages { list-style-type: none; margin: 0; padding: 0;}
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }